.menu {
  padding-top: 60px;
  .menuItem {
    height: auto;
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    p {
      margin-bottom: 0;
    }
    svg {
      font-size: 30px;
      margin-bottom: 5px;
    }
  }
}
