<!doctype html>
<html>
<head>
  <meta charSet="utf-8" />
  <title>Your App</title>
  <script src="<%= context.config.publicPath %>serveConfig.js"></script>
</head>
<body>
  <div id="root"></div>
</body>
</html>
